<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
 
 
http://www.springframework.org/schema/security
 
 
http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- Satic content -->
	<http pattern="/assets/**" security="none" />
	<http pattern="/css/**" security="none" />
	<http pattern="/img/**" security="none" />
	<http pattern="/js/**" security="none" />

	<!-- <http auto-config="true"> <intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY" 
		/> <intercept-url pattern="/**" access="ROLE_USER,ROLE_ADMIN" /> <intercept-url 
		pattern="/admin/**" access="ROLE_ADMIN" /> <intercept-url pattern="/user**" 
		access="ROLE_USER,ROLE_ADMIN" /> <access-denied-handler error-page="/WEB-INF/content/403.jsp" 
		/> <form-login login-page="/login" default-target-url="/hello" authentication-failure-url="/login?error" 
		username-parameter="username" password-parameter="password" /> <logout logout-success-url="/login?logout" 
		invalidate-session="true" delete-cookies="JSESSIONID" /> </http> -->
	<http auto-config='true'>
		<intercept-url pattern="/*" access="ROLE_USER" />
	</http>
	<!-- Select users and user_roles from database -->
	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="bcrypt"></password-encoder>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select username , password, enabled from user where 
		username=?"
				authorities-by-username-query="select username, role from v_user_roles 
		where username =? " />
		</authentication-provider>
	</authentication-manager>

</beans:beans>